.aboutImage {
  width: 300px;
  height: 300px;
  margin-top: 130px;
  margin-bottom: 25px;
  position: relative;
  box-shadow: 10px 10px 20px rgb(0, 0, 0);
  padding: 5px;
  background: rgb(0, 0, 0);
  border: 2px solid rgb(90, 42, 201);
}

p {
  color: black;
  font-weight: 600;
  font-family: "Chakra Petch", sans-serif, cursive;
}

.aboutText {
  font-size: 18pt;
  width: 69%;
  margin: auto;
  text-align: left;
  color: gold;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.aboutText > p {
  color: white;
  margin: 0 0 20px 0;
}

@media only screen and (max-width: 700px) {
  .aboutText {
    width: 85%;
  }
}

.slides {
  margin: auto;
  width: 50%;
}

.contain {
  max-width: 100%;
  max-height: 100%;
}

#beer:hover {
  color: transparent;
  transition: 1s all;
  margin-left: 10px;
}

#beer {
  display: block;
}
