.aboutImage {
  width: 100%; /* Allow the image to scale with the container */
  min-width: 365px;
  max-width: 40%; /* Set a maximum width to avoid overly large images */
  height: auto;
  margin-top: 130px;
  margin-bottom: 25px;
  position: relative;
  box-shadow: 10px 10px 20px rgb(0, 0, 0);
  padding: 5px;
  background: rgb(0, 0, 0);
}

p {
  color: black;
  font-weight: 600;
  font-family: "Chakra Petch", sans-serif, cursive;
}

.aboutText {
  padding: 20px;
  background: #1c1c1c;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0);
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 20px 20px 50px 20px;
}

#beer {
  display: block;
  font-size: 50px;
}

#beer:hover {
  color: transparent;
  transition: 3s all;
  margin-left: 10px;
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.toggleButton {
  background: linear-gradient(45deg, #00567e, #11003f);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.toggleButton::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2) 50%,
    transparent 50%
  );
  transform: translate(-50%, -50%);
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.toggleButton:hover::before {
  opacity: 0.8;
}

.toggleButton:hover {
  background: linear-gradient(45deg, #003366, #0a003e);
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.5);
}

.toggleButton:active {
  transform: scale(0.98);
}

.toggleButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px rgba(0, 26, 255, 1);
  z-index: -1;
  transition: opacity 0.3s ease;
}

.toggleButton:hover {
  background: linear-gradient(-45deg, #475a00, #000000);
  transform: scale(1.05);
}

.expandedContent {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.expandedContent.show {
  max-height: 2000px;
  opacity: 1;
}

.expandedContent p {
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  text-align: left;
}

/* #aboutMeButton {
  background-color: rgb(0, 47, 255);
  color: cyan;
  font-size: 30px;
  text-shadow: 0px 0px 8px white;
  border: 6px double rgb(174, 0, 255);
}

#aboutMeButton:hover {
  border: 6px double white;
} */

#aboutMeButton {
  background-color: rgb(0, 47, 255);
  color: cyan;
  font-size: 30px;
  text-shadow: 0px 0px 8px white;
  border: 6px double rgb(174, 0, 255);
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease, border 0.2s ease;
}

#aboutMeButton:hover {
  border: 6px double white;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

#aboutMeButton:hover::before {
  transform: scale(1);
}

#aboutMeButton:hover::after {
  transform: scale(1.5);
  transition: transform 0.3s ease;
}

.highlight {
  font-weight: bold;
  color: #ffffff; /* Initial color */
  display: inline-block;
  transition: color 0.3s ease;
  animation: hoverInfinity 4s infinite alternate ease-in-out;
}

.highlight:hover {
  color: #a6ff00;
  animation: hoverInfinity 4s infinite alternate ease-in-out;
}

@keyframes hoverInfinity {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, 0) scaleY(1.5);
  }
  50% {
    transform: translate(0, 20px) scaleY(1);
  }
  75% {
    transform: translate(-20px, 0) scaleY(1.5);
  }
  100% {
    transform: translate(0, 0);
  }
}

.arrow-container {
  margin-bottom: 20px;
  font-size: 60px;
}
