html {
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

p {
  font-size: 20px;
  font-weight: 400;
}

i {
  border: solid rgb(31, 34, 16);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.nav-bar {
  position: absolute;
  width: 100%;
  background: url("../images/earth-background.jpg");
  z-index: 8999;
  top: 0;
}

.navbar {
  z-index: 9000;
  position: absolute;
  width: 100%;
}

.navTitle {
  font-weight: bolder;
  font-size: 40px;
  box-shadow: 2px 2px 30px rgb(64, 89, 248);
  width: auto;
  padding: 10px;
  letter-spacing: 4px;
  transition: 0.5s box-shadow;
  text-align: center;
  display: block;
  font-family: "Oxanium", sans-serif, cursive;
  color: cyan;
  margin-top: 15px;
  text-shadow: rgb(0, 195, 255) 3px 3px 10px;
}

@media only screen and (max-width: 344px) {
  .navTitle {
    font-size: 16pt;
  }
}

.link {
  display: flex;
  font-family: "Chakra Petch", sans-serif, cursive;
  font-size: 16px;
}

li {
  font-family: "Oxanium", sans-serif, cursive;
  font-weight: bold;
}

.navLinks {
  display: inline-block;
  align-items: center;
  position: relative;
  margin: auto;
  width: auto;
  background: rgb(0, 0, 0, 1);
  font-family: "Oxanium", sans-serif, cursive;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.5s box-shadow;
  text-align: center;
}

.link:hover {
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 10px rgb(64, 89, 248);
  font-size: 21px;
}

.spacer {
  height: 15px;
  width: 100%;
  background-color: transparent;
  margin: 0;
  box-shadow: 1px 5px 5px rgb(64, 89, 248);
}

.navButton:hover {
  cursor: pointer;
}

.buttons-container {
  display: inline-block;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 100px;
  border-radius: 45px;
  background: #6b6767;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5);
}

ul {
  list-style: none;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
  padding: 0px;
  height: 69px;
  width: 95px;
  transition: all 1.5s;
}

@media only screen and (max-width: 760px) {
  .navTitle {
    height: 50px;
    justify-content: center;
  }
}

@media only screen and (max-width: 520px) {
  .navTitle {
    font-size: 36px;
    text-align: right;
  }
}

@media only screen and (max-width: 420px) {
  .navTitle {
    font-size: 28px;
    text-align: right;
  }
}

body {
  overflow-x: hidden;
}

body .base {
  z-index: 90;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgb(0, 0, 0); /* for top and bottom menu color*/
  width: 98px;
  height: 98px;
  transition: all 1s cubic-bezier(0.5, -0.75, 0.05, 1);
  border-bottom-right-radius: 100%;
  box-shadow: 3px 3px 10px gold;
}

body .base .menu {
  z-index: 100;
  background-image: linear-gradient(to bottom right, red, rgb(38, 0, 255));
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  border-bottom-right-radius: 200px;
  cursor: pointer;
  transition: all 1.5s cubic-bezier(0.5, -0.75, 0.05, 1);
  box-shadow: 0 0 30px 5px rgb(255, 0, 0), 0 0 15px 5px rgb(255, 167, 167);
  /* transition: box-shadow 5s ease-in-out; */
}

body .base .menu .middle-line-menu {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -100%);
}

body .base .menu .middle-line-menu:before,
body .base .menu .middle-line-menu:after {
  content: "";
  transform: rotate(0deg);
  transition: top 0.5s ease 0.5s, transform 0.5s ease,
    background-color 0.75s ease 0.25s;
}

body .base .menu .middle-line-menu .bar,
body .base .menu .middle-line-menu:before,
body .base .menu .middle-line-menu:after {
  position: absolute;
  height: 4px;
  left: -10px;
  right: 5px;
  border-radius: 5px;
  background-color: black;
  transform: rotate(-360deg);
  transition: 1s all;
}

body .base .menu .middle-line-menu .bar {
  transition: opacity 0s linear 0.5s, background-color 0.75s ease 0.25s;
  opacity: 1;
  top: 10px;
}

body .base .menu .middle-line-menu:before {
  top: 0px;
}

body .base .menu .middle-line-menu:after {
  top: initial;
  top: 20px;
}

body .base .page-option {
  z-index: 98;
  position: absolute;
  top: 0px;
  left: 0px;
}

body .base .page-option > * {
  /*font animation*/
  position: absolute;
  font-size: 15px;
  color: black;
  transition: 0.3s cubic-bezier(0.5, -0.25, 0.05, 1);
}

body .base .page-option .about-page {
  top: 35px;
  left: -150px;
  color: #fff;
  transition-delay: 0.2s;
  text-decoration: none;
  border-right: 2px dotted lime;
  border-left: 2px dotted lime;
  border-radius: 20%;
  box-shadow: 1px 5px 5px rgb(0, 225, 255);
}

body .base .page-option .project-page {
  top: 0px;
  left: -150px;
  color: #fff;
  transition-delay: 0.1s;
  text-decoration: none;
  border-right: 2px dotted lime;
  border-left: 2px dotted lime;
  padding: 0 6px;
  border-radius: 20%;
  box-shadow: 1px 5px 5px rgb(30, 71, 255);
}

body .base .page-option .resume-page {
  top: 0px;
  left: -150px;
  color: #fff;
  text-decoration: none;
  border-right: 2px dotted lime;
  border-left: 2px dotted lime;
  padding: 0 6px;
  border-radius: 20%;
  box-shadow: 1px 5px 5px rgb(253, 122, 0);
}

body .base .section {
  z-index: 96;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 0px;
  width: 0px;
  transform-origin: 100% 100%;
  transform: rotate(135deg);
}

body .base .section .cover1 {
  transform-origin: 100% 100%;
}

body .base .section .cover1,
body .base .section .cover1 .cover2,
body .base .section .cover1 .cover2 .content {
  position: absolute;
  width: 600px;
  height: 600px;
}

body .base .section .cover1,
body .base .section .cover1 .cover2 {
  top: 50%;
  left: 50%;
  transform: translate(-100%, -100%) rotate(4deg);
  overflow: hidden;
  pointer-events: none;
  transition: transform 0.5s ease-in;
}

body .base .section .cover1 .cover2 {
  transform: translate(50%, -50%) rotate(-8deg);
  transform-origin: 0% 100%;
}

body .base .section .cover1 .cover2 .content {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: blue;
  /* background: linear-gradient(to bottom right, red, yellow); */
  top: 100%;
  left: 0%;
  transform: translate(-50%, -50%);
  transition: background-color 0s,
    width 1.5s cubic-bezier(0.5, -0.5, 0.05, 1) 0s,
    height 1.5s cubic-bezier(0.5, -0.5, 0.05, 1) 0s;
  pointer-events: auto;
}

body .base .section-static {
  z-index: 94;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0% 0%;
  transition: width 1s cubic-bezier(0.5, -0.75, 0.05, 1),
    height 1s cubic-bezier(0.5, -0.75, 0.05, 1);
}

body .base .section-static:hover {
  background-color: rgb(0, 0, 0);
  color: gold;
}

body .base .section-static.top {
  transform: rotate(-45deg);
  border-bottom-right-radius: 400px;
}

body .base .section-static.bottom {
  transform: rotate(45deg);
  border-bottom-right-radius: 400px;
}

body .base.close {
  /*second layer menu transition*/
  width: 300px;
  height: 300px;
  transition: all 1.25s cubic-bezier(0.5, 0, 0.05, 1.75);
}

body .base.close .menu {
  /*first layer menu transition*/
  width: 150px;
  height: 150px;
  transition: all 1s cubic-bezier(0.5, 0, 0.05, 1.75), background-color 1s ease;
  background-color: gold;
}

body .base.close .menu .middle-line-menu .bar,
body .base.close .menu .middle-line-menu:before,
body .base.close .menu .middle-line-menu:after {
  background: linear-gradient(135deg, rgb(0, 0, 0), rgb(4, 0, 255), black);
}

body .base.close .menu .middle-line-menu .bar {
  opacity: 0;
}

body .base.close .menu .middle-line-menu:before,
body .base.close .menu .middle-line-menu:after {
  transition: top 0.5s linear, transform 0.5s ease 0.5s,
    background-color 0.75s ease 0.25s;
}

body .base.close .menu .middle-line-menu:before {
  top: 5px;
  transform: rotate(-45deg);
}

body .base.close .menu .middle-line-menu:after {
  top: 5px;
  transform: rotate(45deg);
}

body .base.close .page-option {
  position: absolute;
  top: 0px;
  left: 0px;
}

body .base.close .page-option > * {
  /*text transition when opening*/
  position: absolute;
  font-size: 24px;
  color: #21264b;
  transition: 0.5s cubic-bezier(0.5, 0, 0.05, 1.75) 0.3s;
  pointer-events: none;
}

body .base.close .page-option .about-page {
  top: 8px;
  left: 177px;
  color: cyan;
  transform: rotate(12deg);
}

body .base.close .page-option .project-page {
  top: 120px;
  left: 115px;
  color: cyan;
  transition-delay: 0.65s;
  transform: rotate(42deg);
}

body .base.close .page-option .resume-page {
  top: 185px;
  left: 0px;
  color: cyan;
  transition-delay: 0.8s;
  transform: rotate(72deg);
}

body .base.close .section .cover1 {
  transform-origin: 100% 100%;
}

body .base.close .section .cover1,
body .base.close .section .cover1 .cover2,
body .base.close .section .cover1 .cover2 .content {
  position: absolute;
  width: 600px;
  height: 600px;
}

body .base.close .section .cover1,
body .base.close .section .cover1 .cover2 {
  top: 50%;
  left: 50%;
  transform: translate(-100%, -100%) rotate(16deg);
  overflow: hidden;
  transition: transform 0.5s ease-in 0.5s;
}

body .base.close .section .cover1 .cover2 {
  transform: translate(50%, -50%) rotate(-32deg);
  transform-origin: 0% 100%;
}

body .base.close .section .cover1 .cover2 .content {
  border-radius: 100%;
  background-color: transparent;
  top: 100%;
  left: 0%;
  transform: translate(-50%, -50%);
  transition: background-color 0s,
    width 1.1s cubic-bezier(0.5, 0, 0.05, 1.75) 0.25s,
    height 1.1s cubic-bezier(0.5, 0, 0.05, 2) 0.25s;
}

body .base .close .section .cover1 .cover2 .content:hover {
  background-color: rgb(0, 0, 0);
}

body .base.close .section-static {
  width: 300px;
  height: 300px;
  transition: width 1.25s cubic-bezier(0.5, 0, 0.05, 2),
    height 1.25s cubic-bezier(0.5, 0, 0.05, 2);
}
