a {
  font-size: 20px;
  color: cyan;
}

.resume-links {
  text-shadow: 0 2px 7px black;
  border: 6px solid rgb(0, 0, 0, 0);
  padding: 10px;
  font-family: "Chakra Petch", sans-serif;
  background-color: rgba(134, 134, 255, 0.8);
  border-radius: 50%;
  text-transform: none;
}

.resume-links:hover {
  text-shadow: 0 2px 4px black;
  color: gold;
  box-shadow: 0 0 5px 5px rgb(208, 255, 0, 0.5);
  transition: all 1s;
  border-top: 4px double black;
  border-bottom: 4px double black;
  border-left: 4px dotted black;
  border-right: 4px dotted black;
  padding: 12px;
}

.projectPage {
  height: 100%;
}

.resumeSectionHeader,
.resumeSubHeader,
.resumeSectionInfo,
.gpa {
  text-shadow: 2px 2px 10px rgb(0 0 0);
}

.resumeContainer {
  margin: auto;
  margin-top: 25px;
  height: 250px;
  width: 80%;
  font-family: "Chakra Petch", sans-serif;
  text-align: left;
  padding-bottom: 25px;
  /* color: cyan; */
}

@media only screen and (max-width: 700px) {
  .resumeContainer {
    width: 80%;
  }
}

.resumeTitle {
  font-weight: 800;
  font-size: 32pt;
  text-shadow: 2px 2px 5px red;
}

.resumeSectionHeader {
  color: cyan;
  font-weight: 800;
  font-size: 24pt;
}

.resumeSubHeader {
  color: gold;
  font-weight: 800;
  font-size: 24px;
  float: left;
}

.resumeSectionInfo {
  font-weight: 400;
  font-size: 24px;
  font-style: italic;
  color: cyan;
}

.gpa {
  font-size: 16px;
  color: white;
}

.resumeText {
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 20px;
  justify-content: left;
  color: white;
  text-shadow: 2px 2px 7px black;
}

.resumeText > p {
  color: white;
}

#eMail {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: cyan;
  text-shadow: 2px 2px 7px black;
  margin: 0;
}

@media only screen and (max-width: 500px) {
  .resume-links {
    text-shadow: 0 2px 7px black;
    border: 6px solid rgb(0, 0, 0, 0);
    padding: 6px;
    font-family: "Chakra Petch", sans-serif;
    border-radius: 50%;
  }

  .resume-links:hover {
    border-top: 4px double black;
    border-bottom: 4px double black;
    border-left: 4px dotted black;
    border-right: 4px dotted black;
    padding: 8px;
  }

  .resumeContainer {
    font-size: 20px;
  }

  .resumeSectionHeader {
    font-size: 28px;
  }

  .resumeSubHeader,
  .resumeSectionInfo {
    font-size: 18px;
  }

  .gpa {
    font-size: 16px;
    margin-bottom: 20px;
  }

  #eMail {
    font-size: 20px;
  }

  .resumeText {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
