.socialMediaLinks {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.9);
  margin: 20px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 20px 20px 50px 20px;
  min-width: 365px;
  max-width: 60%;
  margin: 24px auto;
}

.socialMediaLinks::before {
  content: "";
  position: absolute;
  top: -60%;
  left: -60%;
  width: 220%;
  height: 220%;
  background: url("https://www.transparenttextures.com/patterns/stardust.png");
  animation: rotate 10s linear infinite;
  z-index: 0;
  margin: 24px auto;
}

.socialMediaLinks h2 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  z-index: 1;
  position: relative;
  background: linear-gradient(135deg, #ff8c00, #ffa500, #ff7f50);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  animation: spaceGlow 2s infinite alternate;
}

@keyframes spaceGlow {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3),
      0 0 100px rgba(255, 165, 0, 0.4), 0 0 100px rgba(255, 165, 0, 0.6),
      0 0 100px rgba(255, 140, 0, 0.8), 0 0 100px rgba(255, 69, 0, 1);
  }
  100% {
    text-shadow: 5px 5px 20px rgba(255, 255, 255, 0.5),
      0 0 0 rgba(255, 165, 0, 0.4), 0 0 0 rgba(255, 165, 0, 0.6),
      0 0 0 rgba(255, 140, 0, 0.8), 0 0 0 rgba(255, 69, 0, 1);
  }
}

.socialMediaLinks a {
  display: inline-block;
  width: 125px;
  background: linear-gradient(135deg, #240046, #0099ff);
  color: #fff;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.socialMediaLinks a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 0.3),
    rgba(252, 70, 107, 0.3),
    rgba(252, 176, 69, 0.3)
  );
  transform: translate(-50%, -50%);
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
}

.socialMediaLinks a:hover::before {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.8);
}

.socialMediaLinks a:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
  background: linear-gradient(135deg, #2980b9, #3498db);
}

#instagramLogo img {
  width: 32px;
  height: 32px;
  background-size: cover;
}

#instagramLogo {
  font-size: 20px;
}
