.timeline {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px 50px 20px;
  font-size: 21px;
  min-width: 365px;
  max-width: 60%;
  margin: 24px auto;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0%;
  left: -50%;
  width: 200%;
  height: 100%;
  background: url(https://www.transparenttextures.com/patterns/stardust.png);
  animation: rotate 10s linear infinite;
  z-index: 0;
}

.timeline h2 {
  text-align: center;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
  padding: 10px 20px;
  background: linear-gradient(45deg, #00aeff, #ff00cc);
  border-radius: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 1);
  overflow: hidden;
  animation: float 10s ease-in-out infinite;
}

.timeline h2::before,
.timeline h2::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140%;
  height: 140%;
  background: radial-gradient(circle, rgba(162, 0, 255, 0.2), rgb(105, 0, 126));
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
  border-radius: 50%;
  animation: spin 20s linear infinite;
}

.timeline h2::after {
  animation-delay: -5s;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.timeline ul {
  list-style: none;
  padding: 0;
  position: relative;
  width: 100%;
  display: block;
}

.timeline ul li {
  position: relative;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 85%;
  margin: 0 auto 8px auto;
  display: flex;
  align-items: center;
}

@media (max-width: 509px) {
  .timeline ul {
    font-size: 18px;
  }
}

.timeline ul li::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 47.5%;
  width: 15px;
  height: 15px;
  background: linear-gradient(135deg, #cea2ff, rgb(234, 255, 0));
  border-radius: 50%;
  box-shadow: 0 0 10px cyan;
  z-index: 10;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 16px;
  top: 68%;
  width: 3px;
  height: 80%;
  background: linear-gradient(135deg, #963aff, rgb(0, 10, 88));
  z-index: 1000;
  border: 2px solid blue;
}

.timeline ul li span {
  display: block;
  background: linear-gradient(135deg, #963aff, rgb(0, 10, 88));
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
  margin: 0 20px;
}

.timeline ul li:last-child::after {
  display: none;
}
